header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

h1 span {
  color: #0681f2;
}

#video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  object-fit: cover;
}

/*=====CTA======= */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*=====SOCIALS======= */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: fixed;
  left: 5em;
  bottom: auto;
}

.header__socials::after {
  content: '';
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/*=====logo======= */
.logo {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

.logo > img {
  margin-top: -10%;
  max-width: 100%;
}

/*=====SCROLL DOWN======= */
.scroll__down {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-weight: 300;
  font-size: 1.5rem;
  /* width: 0; */
  /* height: 8rem; */
  /* letter-spacing: -3.2; */
}

/* MEDIA QUERIES (MEDIUM DEVICES) */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* MEDIA QUERIES (SMALL DEVICES) */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .scroll__down {
    right: 1rem;
  }
}
